<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام</title>
</head>
<body>

<h2>ثبت نام</h2>

<form th:action="@{/register}" th:object="${form}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="e : ${#fields.globalErrors()}" th:text="${e}"></p>
    </div>

    <input th:field="*{username}" placeholder="نام کاربری"/>
    <small th:errors="*{username}"></small><br/>

    <input type="password" th:field="*{password}" placeholder="رمز عبور"/>
    <small th:errors="*{password}"></small><br/>

    <input th:field="*{firstName}" placeholder="نام"/><br/>
    <input th:field="*{familyName}" placeholder="نام خانوادگی"/><br/>

    <input th:field="*{phoneNumber}" placeholder="شماره تماس"/><br/>
    <input th:field="*{address}" placeholder="آدرس"/><br/>

    <select th:field="*{userType}">
        <option th:each="t : ${types}"
                th:value="${t}"
                th:text="${t}">
        </option>
    </select>
    <br/>

    <button type="submit">ثبت نام</button>
</form>
<a th:href="@{/login}">ورود</a>

</body>
</html>
