<h2>
    دانشجویان دوره:
    <span th:text="${course.title}"></span>
</h2>

<a th:href="@{/admin/courses/{id}/students/add(id=${course.id})}">
    ➕ افزودن دانشجو
</a>

<table border="1">
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>عملیات</th>
    </tr>

    <tr th:if="${#lists.isEmpty(students)}">
        <td colspan="3">دانشجویی ثبت نشده</td>
    </tr>

    <tr th:each="s : ${students}">
        <td th:text="${s.firstName}"></td>
        <td th:text="${s.familyName}"></td>
        <td>
            <form th:action="@{/admin/courses/{cId}/students/{sId}/remove(
                cId=${course.id}, sId=${s.id})}" method="post">
                <button type="submit">❌ حذف</button>
            </form>
        </td>
    </tr>
</table>

<br/>
<a th:href="@{/admin/courses}">بازگشت</a>
