<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ویرایش کاربر</title>
</head>
<body>

<h2>ویرایش کاربر</h2>

<form th:action="@{/admin/users/{id}/edit(id=${form.id})}" th:object="${form}" method="post">

    <!-- فقط نمایش -->
    <div>
        <label>نام کاربری (غیرقابل ویرایش)</label><br/>
        <label>
            <input th:field="*{username}" disabled/>
        </label>
    </div>

    <hr/>

    <div>
        <label>نام</label><br/>
        <label>
            <input th:field="*{firstName}"/>
        </label>
        <small th:errors="*{firstName}"></small>
    </div>

    <div>
        <label>نام خانوادگی</label><br/>
        <label>
            <input th:field="*{familyName}"/>
        </label>
        <small th:errors="*{familyName}"></small>
    </div>

    <div>
        <label>شماره تماس</label><br/>
        <label>
            <input th:field="*{phoneNumber}"/>
        </label>
    </div>

    <div>
        <label>آدرس</label><br/>
        <label>
            <input th:field="*{address}"/>
        </label>
    </div>

    <div>
        <label>وضعیت</label><br/>
        <label>
            <select th:field="*{userStatus}">
                <option th:each="s : ${statuses}"
                        th:value="${s}"
                        th:text="${s.title}">
                </option>
            </select>
        </label>
    </div>

    <hr/>

    <!-- فیلدهای دانشجو -->
    <div th:if="${form.dtype == 'STUDENT'}">
        <h3>اطلاعات دانشجو</h3>

        <div>
            <label>رشته</label><br/>
            <input th:field="*{major}"/>
        </div>
    </div>

    <!-- فیلدهای استاد -->
    <div th:if="${form.dtype == 'TEACHER'}">
        <h3>اطلاعات استاد</h3>

        <div>
            <label>تخصص</label><br/>
            <label>
                <input th:field="*{specialization}"/>
            </label>
        </div>

        <div>
            <label>سال‌های تجربه</label><br/>
            <label>
                <input type="number" step="0.1" th:field="*{yearsOfExperience}"/>
            </label>
        </div>

        <div>
            <label>کد پرسنلی</label><br/>
            <label>
                <input th:field="*{employeeCode}"/>
            </label>
        </div>
    </div>

    <br/>
    <button type="submit">ذخیره تغییرات</button>
</form>

<br/>
<a th:href="@{/admin/users}">بازگشت به لیست کاربران</a>

</body>
</html>
