<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ویرایش کاربر</title>
</head>
<body>

<h2>ویرایش کاربر</h2>

<form th:action="@{/admin/users/{id}/edit(id=${form.id})}"
      th:object="${form}"
      method="post">

    <!-- نام کاربری (فقط نمایش) -->
    <div>
        <label>نام کاربری (غیرقابل ویرایش)</label><br/>
        <input th:field="*{username}" disabled/>
    </div>

    <hr/>

    <div>
        <label>نام</label><br/>
        <input th:field="*{firstName}"/>
        <small th:errors="*{firstName}"></small>
    </div>

    <div>
        <label>نام خانوادگی</label><br/>
        <input th:field="*{familyName}"/>
        <small th:errors="*{familyName}"></small>
    </div>

    <div>
        <label>شماره تماس</label><br/>
        <input th:field="*{phoneNumber}"/>
    </div>

    <div>
        <label>آدرس</label><br/>
        <input th:field="*{address}"/>
    </div>

    <hr/>

    <div>
        <label>وضعیت حساب</label><br/>
        <select th:field="*{userStatus}">
            <option th:each="s : ${statuses}"
                    th:value="${s}"
                    th:text="${s.title}">
            </option>
        </select>
    </div>

    <br/>
    <button type="submit">ذخیره تغییرات</button>
</form>

<br/>
<a th:href="@{/admin/users}">بازگشت به لیست کاربران</a>

</body>
</html>
