spring:
  application:
    name: SpringSecurity

  datasource:
    url: jdbc:postgresql://localhost:5432/online_exam_system_db
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 8001

#jwt:
#  secret: Chvnilnclojrnrfdcmnvefievdcenjfknvjnfmjv
#  expiration-ms: 3600000